<div class="container">

  <!-- ユーザー情報 -->
  <div class="row" style="padding:80px 0 0 0">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><i class="glyphicon glyphicon-user"></i>My page</center>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li><p>&emsp;  ID　　　　　：<%= @user.id %></p></li>
              <li><p>&emsp;  アカウント名：<%= @user.name %></p></li>
              <li><p>&emsp;  お気に入り数：<%= @favorites_count %></p></li>
            </ul>
        </div>
        <div class="panel-footer">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to '設定', setting_path, class:'glyphicon glyphicon-cog' %></li>
            <li><%= link_to '退会', user_path(@user.id), class:'glyphicon glyphicon-exclamation-sign',
                            method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ユーザー情報 end -->

    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to 'お気に入り', user_path(@user.id)%> </li>
        <li role="presentation" class="active"><a href="#">閲覧履歴</a></li>
      </ul>

      <div class="row">
        <!-- この単位を繰り返す -->
        <table class="table table-striped table-hover">
          <tbody>
            <% @stories.each do |reads| %>
            <tr>
              <td>
                <a href="<%= reads.url %>" class="m-thumb-episode__inner" itemprop="url">
                  <img src="<%= reads.image%>" width="20%" height="50%">&emsp;
                  第<%= reads.number%>話 <%= reads.title%>
                </a>
              </td>
            </tr>
            <% end %>
            <!-- ここまで繰り返し -->
          </tbody>
        </table>

      </div>
      <center><%= paginate @stories %></center>
    </div>
  </div><!-- end main -->
</div>
