<div class="container">
  <div class="row" style="padding:80px 0 0 0">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><i class="glyphicon glyphicon-user"></i>My page</center>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li><p>&emsp;  ID　　　　　：<%= @user.id %></p></li>
              <li><p>&emsp;  アカウント名：<%= @user.name %></p></li>
              <li><p>&emsp;  お気に入り数：<%= @favorites_count %></p></li>
              <li><p>&emsp;  登録作者数　：</p></li>
            </ul>
        </div>
        <div class="panel-footer">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to '設定', setting_path, class:'glyphicon glyphicon-cog' %></li>
            <li><%= link_to '退会', user_path, class:'glyphicon glyphicon-exclamation-sign',
                            method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-9">
      <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
        <div class="page-header">
          <h1><small>
            <%= link_to 'お気に入り', user_path %>

            <%= link_to '閲覧履歴', user_path %>
          </small></h1>
        </div>
      </div>

      <div class="row">
      <!-- この単位を繰り返す -->

      <% @user.comics.each do |comic| %>

      <div class="col-md-4">
        <div class="thumbnail" style="text-align:center;padding-top:10px;">
          <img src="<%= comic.image_url%>"　class="img-responsive img-rounded">
          <div class="caption">
              <p><b><%= link_to comic.title,comic_path(comic) %></b></p>
              <p><%= comic.description %></p>
              <p style="margin-bottom:0px">
                <%= link_to "お気に入りから削除",destroy_favorite_path(comic.id),
                      class: 'btn btn-default',method: :delete %>
              </p>
          </div>
        </div>
      </div>

      <% end %>

      </div>

      <nav>
        <center>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </center>
      </nav>
<<<<<<< HEAD



    </div><!-- end main -->
=======
      </div>
    </div>
>>>>>>> 3be845b8d8614b79e2fa4e33d2f398053dacb034
  </div>
</div>
