<div class="container">
  <div class="row" style="padding:80px 0 0 0">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><i class="glyphicon glyphicon-user"></i>My page</center>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li><p>&emsp;  ID　　　　　：<%= @user.id %></p></li>
              <li><p>&emsp;  アカウント名：<%= @user.name %></p></li>
              <li><p>&emsp;  お気に入り数：<%= @favorites_count %></p></li>
            </ul>
        </div>
        <div class="panel-footer">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to '設定', setting_path, class:'glyphicon glyphicon-cog' %></li>
            <li><%= link_to '退会', user_path, class:'glyphicon glyphicon-exclamation-sign',
                            method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ユーザー情報 end -->

    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">お気に入り</a></li>
        <li role="presentation"><%= link_to '閲覧履歴', history_path%> </li>
      </ul>

      <div class="row">
        <!-- この単位を繰り返す -->

        <% @comics.each do |comic| %>

          <div class="col-md-4">
            <div class="thumbnail" style="text-align:center;padding-top:10px;">
              <img src="<%= comic.image_url%>"　class="img-responsive img-rounded">
              <div class="caption">
                <p><b><%= link_to comic.title,comic_path(comic) %></b></p>
                <% comic.authors.each do |author| %>
                  <p><small><%= author.name %></small><h2></p>
                <% end %>
                <p style="margin-bottom:0px">
                  <%= link_to "お気に入りから削除",destroy_favorite_path(comic.id),
                                  class: 'btn btn-default',method: :delete %>
               </p>
             </div>
           </div>
         </div>

        <% end %>

      </div>
      <center><%= paginate @comics %></center>
    </div>

  </div><!-- end main -->
</div>
