<center><h1>本棚</h1></center>

<<<<<<< HEAD
<table border = "3">
  <td>
    <p>ID　　　　　：<%= @user.id %></p>
    <p>アカウント名：<%= @user.name %><br></p>
    <p>お気に入り数：</p>
    <p>登録作者数　：</p>
    <p><%= link_to '設定', setting_path %></p>
    <p><%= link_to '退会', user_path,
                    method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </td>
<table>
=======
<p>
  <table border = "3">
    <td>
      <p>ID　　　　　：<%= @user.id %></p>
      <p>アカウント名：<%= @user.name %><br></p>
      <p>お気に入り数：</p>
      <p>登録作者数　：</p>
      <p><%= link_to '設定', edit_users_path %></p>
    </td>
  <table>
</p>
>>>>>>> master

<p>
<table>
    <thead>
        <tr>
          <th>タイトル</th>
          <th>著者</th>
          <th>お気に入り</th>
        </tr>
    </thead>
    <tbody>
      <% @user.books.each_with_index do |book, i| %>
        <tr>
          <td><%= link_to book.title,comic_path(book) %>&emsp;</td>
          <td><%= book.description %></td>
          <td><%= link_to "削除",destroy_favorite_path(@favorites[i][:id]), method: :delete %>&emsp;</td>
        </tr>
      <% end %>
    </tbody>
</table>
</p>
