<div class="container">

<!-- content -->
<div class="row" style="padding:80px 0 0 0">
<div class="jumbotron">
  <!-- side -->
  <div class="col-md-7">
    <p><h2><%= link_to @comics.title, @comics.url %></p>
      <% @comics.authors.each do |author| %>
    <p><small><%= author.name %></small><h2></p>
      <% end %>
    <p><%= @comics.description%></p>

    <p>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <%= link_to "お気に入り登録", favorite_path(favorite: {comic_id: @comics.id}), method: :post %>
      </button>
    </p>
  </div><!-- end side -->


  <!-- main -->
  <div class="row">
    <div class="col-md-1">
      <img src="<%= @comics.image_url%>"　 height="400" width="300">
    </div><!-- end main -->
  </div>
</div>

  <table class="table table-striped table-hover">
    <tbody>
      <% @stories.each do |story| %>
      <tr>
        <!-- この単位を繰り返す　-->
        <td>
          <a href="<%= story.url %>" class="m-thumb-episode__inner" itemprop="url">
            <img src="<%= story.image%>" width="20%" height="50%">&emsp;
          </a>
          <%= link_to "第#{story.number}話 #{story.title}", read_path(read: {story_id: story.id, url: story.url}), method: :post %>
        </td>

        <td><br><br><br><%= story.date %></td>
      </tr>
      <% end %>
      <!-- ここまで繰り返し -->
    </tbody>
  </table>
</div>
</div>
