<h3>おすすめ作品</h3>
<div class="jumbotron">
  <div class="comics">
        <% @comics.each do |comic| %>
            <div class="comic">
              <div class="thumbnail">
                <%= image_tag comic.image_url, class: :comic_icon %>
                <div class="caption">
                  <p><h3><%= link_to comic.title, comic_path(comic) %></h3></p>
                  <% comic.authors.each do |author| %>
                    <p><%= author.name %></p>
                  <% end %>
                  <p><%= comic.description %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>


    <div class="row">
      <%= render 'ranking', comics: @comics, title: '全体', type: :all  %>
      <%= render 'ranking', comics: @monthly_conmics, title: '月間', type: :monthly  %>
      <%= render 'ranking', comics: @dayly_conmics, title: '週間', type: :dayly%>
    </div>
