<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Manga Cura', top_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag search_path, method: 'get', class: 'navbar-form navbar-left', role: 'search' do %>
        <div class="form-group">
          <%= select_tag :category, options_for_select([["タイトル検索", "title"], ["作者検索", "author"]]), class: 'form-control' %>
          <%= text_field_tag :search, '', size: '50', class: 'form-control', placeholder: 'Search' %>
        </div>
        <%= submit_tag 'Submit', class: 'btn btn-success' %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Singup', new_user_path %></li>
        <li><%= link_to 'Singin', login_path %></li>
      </ul>
    </div>
  </div>
</nav>
